In [5]:
import numpy as np 
import pandas as pd

In [10]:
df = pd.DataFrame(np.array([[1,2,3,4,5],[4,5,6,7,8]]))
df

   0  1  2  3  4
0  1  2  3  4  5
1  4  5  6  7  8

In [13]:
s1 = pd.Series([1,2,3,4,5])
s2=pd.Series([4,5,6,7,8])
df2 = pd.DataFrame([s1,s2])
df2

   0  1  2  3  4
0  1  2  3  4  5
1  4  5  6  7  8

In [15]:
df3 = pd.DataFrame([np.arange(10,20),np.arange(15,25)])
df3

    0   1   2   3   4   5   6   7   8   9
0  10  11  12  13  14  15  16  17  18  19
1  15  16  17  18  19  20  21  22  23  24

In [17]:
df4 = pd.DataFrame({"boy":s1,"girl":s2})
df4

   boy  girl
0    1     4
1    2     5
2    3     6
3    4     7
4    5     8

In [ ]:
import requests
from bs4 import BeautifulSoup
import html2text
import urllib.request

link = "https://www.google.com/complete/search?q=yourQueryHere&client=psy-ab"

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
page = requests.get(link ,headers = headers)
soup = BeautifulSoup(page.content, 'html.parser')
#For answers :
mydivs = soup.find_all('div', class_="ILfuVd NA6bn")