In [5]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("police_project.csv")

In [7]:
data

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [8]:
datanew=data.head(n=10)

In [9]:
print(datanew.describe())
print(datanew.info())

       county_name  driver_age_raw  driver_age
count          0.0       10.000000   10.000000
mean           NaN     1976.900000   28.100000
std            NaN        8.372574    8.372574
min            NaN     1965.000000   19.000000
25%            NaN     1970.000000   20.250000
50%            NaN     1977.000000   28.000000
75%            NaN     1984.750000   35.000000
max            NaN     1986.000000   40.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           10 non-null     object
 1   stop_time           10 non-null     object
 2   county_name         0 non-null      float64
 3   driver_gender       10 non-null     object
 4   driver_age_raw      10 non-null     float64
 5   driver_age          10 non-null     float64
 6   driver_race         10 non-null     object
 7   violation_raw       10 non-null     object
 8   violation           10 non-null     object
 9   search_conducted    10 non-null     bool
 10  search_type         0 non-null      object
 11  stop_outcome        10 non-null     object
 12  is_arrested         10 non-null     object
 13  stop_duration       10 non-null     object
 14  drugs_related_stop  10 non-null     bool
dtypes: bool(2), float64(3), object(10)
memory usage: 1.2+ KB
None

In [10]:
data.shape

(91741, 15)

In [11]:
data.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [12]:
data.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [13]:
data.drop("county_name", axis=1,inplace=True)

In [14]:
data

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [62]:
speed=data[data["violation"]=="Speeding"]
c=(speed["driver_gender"]=="M").sum()
print(f" The total number of male who violated the speed limit are {c}")
d=(speed["driver_gender"]=="F").sum()
print(f" The total number of female who violated the speed limit are {d}")

 The total number of male who violated the speed limit are 32979
 The total number of female who violated the speed limit are 15482

In [69]:
time=pd.to_datetime(data["stop_date"])
time.dt.year.value_counts()

2012    10970
2006    10639
2007     9476
2014     9228
2008     8752
2015     8599
2011     8126
2013     7924
2009     7908
2010     7561
2005     2558
Name: stop_date, dtype: int64

23511

      driver_gender         violation
0                 M          Speeding
1                 M          Speeding
2                 M          Speeding
3                 M             Other
4                 F          Speeding
...             ...               ...
91736             M          Speeding
91737             F         Equipment
91738             M  Moving violation
91739             M          Speeding
91740             M          Speeding

[91741 rows x 2 columns]