In [80]:
import numpy as np
import pandas as pd

In [81]:
df = pd.read_csv("heart.csv")

In [82]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [83]:
df = pd.read_csv("heart.csv", header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
2,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
3,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
4,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
300,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
301,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
302,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
303,57,0,1,130,236,0,0,174,0,0,1,1,2,0

In [84]:
df2 = pd.read_csv("heart.csv" , names=[45,65,78,8,54,5,26,1,7,59,6,2,3])
df2

,45,65,78,8,54,5,26,1,7,59,6,2,3
age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
57,0,1,130,236,0,0,174,0,0,1,1,2,0

In [85]:
name=[45,65,78,8,54,5,26,1,7,59,6,2,3]
df1 = pd.read_csv("heart.csv", names=name, index_col=3)
df1

,45,65,78,8,54,5,26,1,7,59,6,2,3
trestbps,age,sex,cp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
145,63,1,3,233,1,0,150,0,2.3,0,0,1,1
130,37,1,2,250,0,1,187,0,3.5,0,0,2,1
130,41,0,1,204,0,0,172,0,1.4,2,0,2,1
120,56,1,1,236,0,1,178,0,0.8,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,57,0,0,241,0,1,123,1,0.2,1,0,3,0
110,45,1,3,264,0,1,132,0,1.2,1,0,3,0
144,68,1,0,193,1,1,141,0,3.4,1,2,3,0
130,57,1,0,131,0,1,115,1,1.2,1,1,3,0
130,57,0,1,236,0,0,174,0,0,1,1,2,0

In [86]:
df3 =pd.read_csv("heart.csv" , index_col=[10,11])
df3.head()

          age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
slope ca
0     0    63    1   3       145   233    1        0      150      0      2.3
      0    37    1   2       130   250    0        1      187      0      3.5
2     0    41    0   1       130   204    0        0      172      0      1.4
      0    56    1   1       120   236    0        1      178      0      0.8
      0    57    0   0       120   354    0        1      163      1      0.6

          thal  target
slope ca
0     0      1       1
      0      2       1
2     0      2       1
      0      2       1
      0      2       1

In [87]:
af=pd.read_csv("heart.csv", skiprows=[2,4,5])
af.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
2,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
3,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
4,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1

In [93]:
gd= np.loadtxt("heart.csv",delimiter=",", skiprows=1)
gd

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

In [99]:
gd1= np.genfromtxt("heart.csv",delimiter=",",dtype=None, names=True)
gd1[:10]

array([(63, 1, 3, 145, 233, 1, 0, 150, 0, 2.3, 0, 0, 1, 1),
       (37, 1, 2, 130, 250, 0, 1, 187, 0, 3.5, 0, 0, 2, 1),
       (41, 0, 1, 130, 204, 0, 0, 172, 0, 1.4, 2, 0, 2, 1),
       (56, 1, 1, 120, 236, 0, 1, 178, 0, 0.8, 2, 0, 2, 1),
       (57, 0, 0, 120, 354, 0, 1, 163, 1, 0.6, 2, 0, 2, 1),
       (57, 1, 0, 140, 192, 0, 1, 148, 0, 0.4, 1, 0, 1, 1),
       (56, 0, 1, 140, 294, 0, 0, 153, 0, 1.3, 1, 0, 2, 1),
       (44, 1, 1, 120, 263, 0, 1, 173, 0, 0. , 2, 0, 3, 1),
       (52, 1, 2, 172, 199, 1, 1, 162, 0, 0.5, 2, 0, 3, 1),
       (57, 1, 2, 150, 168, 0, 1, 174, 0, 1.6, 2, 0, 2, 1)],
      dtype=[('\ufeffage', '<i8'), ('sex', '<i8'), ('cp', '<i8'), ('trestbps', '<i8'), ('chol', '<i8'), ('fbs', '<i8'), ('restecg', '<i8'), ('thalach', '<i8'), ('exang', '<i8'), ('oldpeak', '<f8'), ('slope', '<i8'), ('ca', '<i8'), ('thal', '<i8'), ('target', '<i8')])

In [100]:
df10 = pd.read_csv("astronauts.csv")

In [102]:
df10.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN

In [103]:
df10.tail(1)

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
356,George D. Zamka,1998.0,17.0,Retired,6/29/1962,"Jersey City, NJ",Male,US Naval Academy; Florida Institute of Technology,Mathematics,Engineering Management,Colonel,US Marine Corps (Retired),2,692,0,0.0,"STS-120 (Discovery), STS-130 (Endeavor)",NaN,NaN

In [105]:
df10.shape

(357, 19)

In [107]:
df10.sample(3)

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
151,Frederick H. Hauck,1978.0,8.0,Retired,4/11/1941,"Long Beach, CA",Male,Tufts University; MIT,Physics,Nuclear Engineering,Captain,US Navy (Retired),3,435,0,0.0,"STS-7 (Challenger), STS 51-A (Discovery), STS-...",NaN,NaN
133,Richard F. Gordon Jr.,1963.0,3.0,Retired,10/5/1929,"Seattle, WA",Male,University of Washington,Chemistry,NaN,Captain,US Navy (Retired),2,315,1,0.5,"Gemini 11, Apollo 12",NaN,NaN
97,Joe F. Edwards Jr.,1995.0,15.0,Retired,2/3/1958,"Richmond, VA",Male,US Naval Academy; University of Tennessee-Knox...,Aerospace Engineering,Aviation Systems,Commander,US Navy (Retired),1,211,0,0.0,STS-89 (Endeavor),NaN,NaN

In [108]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 357 non-null    object
 1   Year                 330 non-null    float64
 2   Group                330 non-null    float64
 3   Status               357 non-null    object
 4   Birth Date           357 non-null    object
 5   Birth Place          357 non-null    object
 6   Gender               357 non-null    object
 7   Alma Mater           356 non-null    object
 8   Undergraduate Major  335 non-null    object
 9   Graduate Major       298 non-null    object
 10  Military Rank        207 non-null    object
 11  Military Branch      211 non-null    object
 12  Space Flights        357 non-null    int64
 13  Space Flight (hr)    357 non-null    int64
 14  Space Walks          357 non-null    int64
 15  Space Walks (hr)     357 non-null    float64
 16  Missions             334 non-null    object
 17  Death Date           52 non-null     object
 18  Death Mission        16 non-null     object
dtypes: float64(3), int64(3), object(13)
memory usage: 53.1+ KB

In [109]:
df10.describe()

,Year,Group,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr)
count,330.000000,330.000000,357.000000,357.000000,357.000000,357.000000
mean,1985.106061,11.409091,2.364146,1249.266106,1.246499,7.707283
std,13.216147,5.149962,1.428700,1896.759857,2.056989,13.367973
min,1959.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1978.000000,8.000000,1.000000,289.000000,0.000000,0.000000
50%,1987.000000,12.000000,2.000000,590.000000,0.000000,0.000000
75%,1996.000000,16.000000,3.000000,1045.000000,2.000000,12.000000
max,2009.000000,20.000000,7.000000,12818.000000,10.000000,67.000000

In [110]:
df10.shape

(357, 19)

In [111]:
df10.corr()

,Year,Group,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr)
Year,1.000000,0.980934,0.036420,0.331386,0.210073,0.253502
Group,0.980934,1.000000,-0.011386,0.325683,0.217891,0.261384
Space Flights,0.036420,-0.011386,1.000000,0.325233,0.257073,0.258642
Space Flight (hr),0.331386,0.325683,0.325233,1.000000,0.472796,0.454408
Space Walks,0.210073,0.217891,0.257073,0.472796,1.000000,0.985755
Space Walks (hr),0.253502,0.261384,0.258642,0.454408,0.985755,1.000000

In [115]:
df10["Year"].value_counts()

1996.0    35
1978.0    35
1998.0    25
1990.0    23
1966.0    19
1995.0    19
1992.0    19
1980.0    19
1984.0    18
2000.0    17
1987.0    15
1963.0    14
1985.0    13
2004.0    11
1967.0    11
2009.0     9
1962.0     8
1959.0     7
1969.0     7
1965.0     6
Name: Year, dtype: int64

In [116]:
df10.max()

Name                 Yvonne D. Cagle
Year                          2009.0
Group                           20.0
Status                       Retired
Birth Date                  9/9/1952
Birth Place              Yonkers, NY
Gender                          Male
Space Flights                      7
Space Flight (hr)              12818
Space Walks                       10
Space Walks (hr)                67.0
dtype: object

In [122]:
df4=pd.DataFrame(np.random.randn(1000,4),columns=["a","b","c","d"])
df4.head()

          a         b         c         d
0  1.825049 -0.091483  0.111255 -0.202623
1 -2.139013 -1.027298 -0.086223  0.728278
2 -0.538661  1.909386  0.818353  1.236573
3  1.899014 -0.689230 -0.000958 -0.651926
4 -0.899247  0.291217  0.646169 -0.358643

In [130]:
df4.to_csv( "saves.csv", index=False, float_format="%0.3f" )

In [131]:
df4.to_csv("save.pkl")

In [132]:
df10.to_csv("savfile.csv" , index=False)

In [134]:
pd.read_csv("savfile.csv")

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,David A. Wolf,1990.0,13.0,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN
353,Neil W. Woodward III,1998.0,17.0,Retired,7/26/1962,"Chicago, IL",Male,MIT; University of Texas-Austin; George Washin...,Physics,Physics; Business Management,Commander,US Navy,0,0,0,0.0,NaN,NaN,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
355,John W. Young,1962.0,2.0,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN
356,George D. Zamka,1998.0,17.0,Retired,6/29/1962,"Jersey City, NJ",Male,US Naval Academy; Florida Institute of Technology,Mathematics,Engineering Management,Colonel,US Marine Corps (Retired),2,692,0,0.0,"STS-120 (Discovery), STS-130 (Endeavor)",NaN,NaN

In [137]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [138]:
obj

'\n{"name": "Wes",\n"places_lived": ["United States", "Spain", "Germany"],\n"pet": null,\n"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},\n{"name": "Katie", "age": 38,\n"pets": ["Sixes", "Stache", "Cisco"]}]\n}\n'

In [139]:
type(obj)

str

In [135]:

import json

In [140]:
result=json.loads(obj)

In [141]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [151]:
type(result)

dict

In [152]:
asjson=json.dumps(result)

In [153]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [154]:
type(asjson)

str

In [159]:
sibilingas=pd.DataFrame(result["siblings"],columns=["name","age"])

In [160]:
sibilingas

    name  age
0  Scott   30
1  Katie   38

In [161]:
import requests

In [162]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [163]:
res=requests.get(url)

In [164]:
res

In [165]:
data34=res.json()

In [166]:
data34

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39940',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39940/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39940/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39940/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/39940',
  'id': 812700423,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NTc3MDAxODQ3',
  'number': 39940,
  'title': 'BUG: Groupby ops on empty objects loses index, columns, dtypes',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 31404521,
    'node_id': 'MDU6TGFiZWwzMTQwNDUyMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Dtypes',
    'name': 'Dtypes',
    'color': 'e102d8',
    'default': False,
    'description': None},
   {'id': 233160,
    'node_id': 'MDU6TGFiZWwyMzMxNjA=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby',
    'name': 'Groupby',
    'color': '729FCF',
    'default': False,
    'description': None},
   {'id': 13098779,
    'node_id': 'MDU6TGFiZWwxMzA5ODc3OQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Reshaping',
    'name': 'Reshaping',
    'color': '02d7e1',
    'default': False,
    'description': 'Concat, Merge/Join, Stack/Unstack'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-02-20T20:27:40Z',
  'updated_at': '2021-02-20T20:27:40Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/39940',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/39940',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/39940.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/39940.patch'},
  'body': '- [x] closes #26411\r\n- [x] closes #13483\r\n- [x] tests added / passed\r\n- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#code-standards) for how to run them\r\n- [x] whatsnew entry\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39939',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39939/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39939/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39939/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/39939',
  'id': 812677670,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NTc2OTg1Nzk0',
  'number': 39939,
  'title': 'REF: share _maybe_coerce_values',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-02-20T18:21:04Z',
  'updated_at': '2021-02-20T19:23:06Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/39939',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/39939',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/39939.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/39939.patch'},
  'body': 'Gets us within spittting distance of combining DTBlock/TDBlock (and not far from DT64TZBlock too)',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39938',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39938/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39938/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39938/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/39938',
  'id': 812653679,
  'node_id': 'MDU6SXNzdWU4MTI2NTM2Nzk=',
  'number': 39938,
  'title': 'ENH: Ability to use "normalize" function (df[\'col\'].value_counts(normalize=True) when you do df.groupby(cols).size()',
  'user': {'login': 'bbennett36',
   'id': 7293087,
   'node_id': 'MDQ6VXNlcjcyOTMwODc=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/7293087?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/bbennett36',
   'html_url': 'https://github.com/bbennett36',
   'followers_url': 'https://api.github.com/users/bbennett36/followers',
   'following_url': 'https://api.github.com/users/bbennett36/following{/other_user}',
   'gists_url': 'https://api.github.com/users/bbennett36/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/bbennett36/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/bbennett36/subscriptions',
   'organizations_url': 'https://api.github.com/users/bbennett36/orgs',
   'repos_url': 'https://api.github.com/users/bbennett36/repos',
   'events_url': 'https://api.github.com/users/bbennett36/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/bbennett36/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-02-20T16:20:36Z',
  'updated_at': '2021-02-20T16:20:36Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '`groupby.size()` should have the ability to "normalize" the results and return them as a percentage.   \r\n  \r\n  \r\n```\r\ndf[\'col\'].value_counts(normalize=True) \r\n  \r\nA = 0.25\r\nB = 0.25  \r\nC = 0.25  \r\nD = 0.25\r\n```  \r\n  \r\nTo accomplish this result with a `groupby.size()` you have to do the following - \r\n\r\n```\r\ndf2 = df.groupby([\'subset_product\', \'subset_close\']).size().reset_index(name=\'prod_count\')\r\na = df2.groupby(\'subset_product\')[\'prod_count\'].transform(\'sum\')\r\ndf2[\'prod_count\'] = df2[\'prod_count\'].div(a)\r\n```  \r\n  \r\nIs there a way to add a feature to include this as a parameter in `.size()`',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39936',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39936/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39936/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39936/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/39936',
  'id': 812631751,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NTc2OTUyMDcy',
  'number': 39936,
  'title': 'ENH: Create script to set up a development environment using docker',
  'user': {'login': 'gcmaciel',
   'id': 66797203,
   'node_id': 'MDQ6VXNlcjY2Nzk3MjAz',
   'avatar_url': 'https://avatars.githubusercontent.com/u/66797203?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/gcmaciel',
   'html_url': 'https://github.com/gcmaciel',
   'followers_url': 'https://api.github.com/users/gcmaciel/followers',
   'following_url': 'https://api.github.com/users/gcmaciel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/gcmaciel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/gcmaciel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/gcmaciel/subscriptions',
   'organizations_url': 'https://api.github.com/users/gcmaciel/orgs',
   'repos_url': 'https://api.github.com/users/gcmaciel/repos',
   'events_url': 'https://api.github.com/users/gcmaciel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/gcmaciel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-02-20T14:37:09Z',
  'updated_at': '2021-02-20T14:37:09Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/39936',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/39936',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/39936.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/39936.patch'},
  'body': 'This script will help the contributors with the process of setting up a docker container. So instead of manually passing the Github username in the Dockerfile and then running a couple of commands, you can run only this:\r\n\r\n```\r\n./docker.sh\r\n```\r\n\r\n...and enter the Github username when prompted.\r\n\r\nI think this can be good, right? Especially for the new users.\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39935',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39935/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39935/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39935/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/39935',
  'id': 812626987,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NTc2OTQ4OTIw',
  'number': 39935,
  'title': "BUG: DataFrame.agg and apply with 'size' returns a scalar",
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 697792067,
    'node_id': 'MDU6TGFiZWw2OTc3OTIwNjc=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Apply',
    'name': 'Apply',
    'color': 'fbca04',
    'default': False,
    'description': 'Apply, Aggregate, Transform'},
   {'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-02-20T14:18:49Z',
  'updated_at': '2021-02-20T14:18:49Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/39935',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/39935',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/39935.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/39935.patch'},
  'body': '- [x] closes #39934\r\n- [x] tests added / passed\r\n- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#code-standards) for how to run them\r\n- [x] whatsnew entry',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39934',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39934/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39934/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39934/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/39934',
  'id': 812623501,
  'node_id': 'MDU6SXNzdWU4MTI2MjM1MDE=',
  'number': 39934,
  'title': "BUG: DataFrame.agg and apply with 'size' returns a scalar",
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 1741841389,
    'node_id': 'MDU6TGFiZWwxNzQxODQxMzg5',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/API%20-%20Consistency',
    'name': 'API - Consistency',
    'color': 'b60205',
    'default': False,
    'description': 'Internal Consistency of API/Behavior'},
   {'id': 697792067,
    'node_id': 'MDU6TGFiZWw2OTc3OTIwNjc=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Apply',
    'name': 'Apply',
    'color': 'fbca04',
    'default': False,
    'description': 'Apply, Aggregate, Transform'},
   {'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'assignees': [{'login': 'rhshadrach',
    'id': 45562402,
    'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
    'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/rhshadrach',
    'html_url': 'https://github.com/rhshadrach',
    'followers_url': 'https://api.github.com/users/rhshadrach/followers',
    'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
    'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
    'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
    'repos_url': 'https://api.github.com/users/rhshadrach/repos',
    'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
    'type': 'User',
    'site_admin': False}],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-02-20T14:05:07Z',
  'updated_at': '2021-02-20T14:05:07Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'body': "Compare\r\n\r\n```\r\ndf = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})\r\nprint(df.apply('size'))\r\nprint(df.apply(['size']))\r\nprint('---')\r\nprint(df.agg('size'))\r\nprint(df.agg(['size']))\r\n```\r\n\r\ngives\r\n\r\n```\r\n6\r\n      a  b\r\nsize  3  3\r\n---\r\n6\r\n      a  b\r\nsize  3  3\r\n```\r\n\r\nagg/apply should operate on rows/columns.",

In [169]:
type(data34)

list

In [171]:
len(data34)

30

In [181]:
data=pd.DataFrame(data34,columns=["number","title","state","labels"])

In [182]:
data

,number,title,state,labels
0,39940,"BUG: Groupby ops on empty objects loses index,...",open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=..."
1,39939,REF: share _maybe_coerce_values,open,[]
2,39938,"ENH: Ability to use ""normalize"" function (df['...",open,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=..."
3,39936,ENH: Create script to set up a development env...,open,[]
4,39935,BUG: DataFrame.agg and apply with 'size' retur...,open,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc..."
5,39934,BUG: DataFrame.agg and apply with 'size' retur...,open,"[{'id': 1741841389, 'node_id': 'MDU6TGFiZWwxNz..."
6,39931,BUG: Index alignment behaviour,open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=..."
7,39930,ENH: add a gradient map to background gradient,open,[]
8,39929,ENH: Want a new feature in merge_asof function...,open,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=..."
9,39928,BUG: Sampling over selected groupbys does not ...,open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=..."
10,39927,BUG: Cannot sample on DataFrameGroupBy with we...,open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=..."
11,39926,BUG: fillna(0) does not fill NaNs,open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=..."
12,39925,Updated read_html to add option,open,[]
13,39923,REF: De-duplicate ExtensionIndex._validate_fil...,open,[]
14,39922,BENCH: collect isin asvs,open,[]
15,39921,ENH: get_rename_function: add support for __ge...,open,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=..."
16,39920,"BUG: ""unique"" and pd.Series.unique produce dif...",open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=..."
17,39919,TYP: create a Frequency alias in _typing,open,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj..."
18,39917,BENCH: collect low-dependency asvs,open,[]
19,39916,ENH: Implement unary operators for FloatingArr...,open,[]
20,39915,ENH: `df.explode` should turn empty lists into...,open,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=..."
21,39914,ENH: Multi-layered Vector Functions,open,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=..."
22,39913,ENH: new orient setting for read_json to suppo...,open,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=..."
23,39911,BUG: DataFrame does not display as LaTeX in Ju...,open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=..."
24,39908,Arrow string array dtype,open,"[{'id': 57522093, 'node_id': 'MDU6TGFiZWw1NzUy..."
25,39906,BUG: pd.read_csv ignores columns with only zeros,open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=..."
26,39904,BUG: DataFrame construction with columns argum...,open,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT..."
27,39903,BUG: Inconsistency in df.sum when strings are ...,open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=..."
28,39899,BUG: pandas.DataFrame.compare causes loss of a...,open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=..."
29,39898,BUG: dtype ignored in pd.read_excel,open,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw..."